[submodule "libs/libtesla"]
	path = libs/libtesla
	url = https://github.com/WerWolv/libtesla
[submodule "Atmosphere-libs"]
	path = Atmosphere-libs
	url = https://github.com/Atmosphere-NX/Atmosphere-libs.git
